PORT=3000
CORS_ORIGIN=https://sistema-frontend-produccion-v2-production.up.railway.app
CORS_ALLOW_LOCAL_NETWORK=true
TRUST_PROXY=1
JWT_SECRET=
API_KEY=
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=3306
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
CLOUDINARY_URL=
OPENAI_API_KEY=
EMAIL_USER=
EMAIL_PASS=
